<p><img src="http://www.extremepc.co.nz/image/catalog/extremepc_info/1200x630%E5%91%A8%E5%B9%B4.jpg" width="1200"></p>
<p>
</p><p class="MsoNormal">
</p><p class="MsoNormal"><b><br></b></p><p class="MsoNormal"><b>1. Start from 12% off for almost everything. &nbsp;Only for the stock available products in the shop, No Back Orders, No Rain Checks, Strictly Limited Stock.&nbsp;</b></p><p class="MsoNormal"><b>2. Only fans residing in
    New Zealand are eligible to win.&nbsp;</b>
</p>
<p class="MsoNormal"><b>3. This campaign start from
    10th Aug and closes at 12am on 31st Aug 2017 (Thursday).</b>
</p>
<p class="MsoNormal"><b>4. Campaign entry is by
    <a href="http://www.extremepc.co.nz/pricespy/luckydraw" style="color: red">Sign Up</a> to the Draw pool.&nbsp;<br>
    Will get bonus points to win the prizes if sharing liking and leaving a comment
    for the products on the giveaway post on the ExtremePC Ltd <a href="https://www.facebook.com/NZEXTREMEPC/" style="color: red">Facebook Page</a>.</b>
</p>
<p class="MsoNormal"><b>5. All winners will be drawn on 03/09/2017 and announced
    within a week time.</b>
</p>
<p class="MsoNormal"><b>6. The prize consists of below 12 exciting products.&nbsp;The total value is over $3000.</b>
</p>


    <table class="MsoNormalTable ke-zeroborder" border="0" cellspacing="0" cellpadding="0" width="475" style="width:474.9pt;background:#F3F3F3;">
        <tbody>
        <tr>
            <td width="37" valign="bottom">
<p class="MsoNormal" align="right" style="text-align:right;">
    <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Code</span></b>
</p>
</td>
<td width="68">
    <p class="MsoNormal" align="center" style="text-align:center;">
        <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Brand</span></b>
    </p>
</td>
<td width="334" valign="bottom">
    <p class="MsoNormal">
        <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Product Description</span></b>
    </p>
</td>
<td width="35" valign="top">
    <p class="MsoNormal" align="right" style="text-align:right;">
        <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">RRP</span></b>
    </p>
</td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">169776</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Antec</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Antec Mercury 120 AIO Watercooling With
  Temperature Indicating</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$219</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">164075</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">AOC</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">AOC i2481FXH 24" IPS Monitor 1920x1080
  4ms VGA 2*HDMI Frameless</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$299</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">169789</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68" rowspan="2">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">ASUS</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">ASUS ROG STRIX EVOLVE AURA SYNC RGB ERGONOMIC
  GAMING MOUSE</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$139</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">169790</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">ASUS CERBERUS V2 GAMING HEADSET - RED
  CERBERUS V2 HEADSET/RED</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$109</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">166615</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Corsair</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">CORSAIR GAMING K95 RGB PLATINUM MECHANICAL
  KEYBOARD - CHERRY MX SPEED</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$429</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">169762</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">DeepCool</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Deepcool Gamerstorm Dukase Liquid Case Black
  Built-In Liquid Cooling</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$699</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">168572</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Kingston</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Kingston 240GB SSDNow UV400 SATA3 2.5</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$179</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">164330</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Netgear</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">NETGEAR GS808E NIGHTHAWK S8000 GS808E 8-PORT
  GAMING &amp; STREAMING SWITCH</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$219</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">154635</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">RAZER</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Razer DeathAdder Elite Gaming Mouse
  Ergonomic for eSports - with 16,000 dpi optical sensor</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$129</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">169763</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68" rowspan="2">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Thermal
  Take</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">TteSports by Thermaltake Challenger Prime
  RGB Combo</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$99</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">169764</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Thermaltake Shack Pro RGB Gaming Headset</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$99</span></b>
        </p>
    </td>
</tr>
<tr>
    <td width="37" valign="bottom">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">166755</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="68">
        <p class="MsoNormal" align="center" style="text-align:center;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">Viewsonic</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="334" valign="bottom">
        <p class="MsoNormal">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">VIEWSONIC VP2768 27" WQHD 2560 x 1440
  WITH SUPER CLEAR IPS PANEL sRGB 99.92% COLOUR ACCURACY MONITOR</span></b><span style="font-size:12.0pt;font-family:&quot;color:#333333;"></span>
        </p>
    </td>
    <td width="35" valign="top">
        <p class="MsoNormal" align="right" style="text-align:right;">
            <b><span style="font-size:10.0pt;font-family:&quot;color:#333333;">$1099</span></b>
        </p>
    </td>
</tr>
</tbody>
</table>

<p class="MsoNormal">
    <br><b>7. The prize is not transferable, exchangeable nor redeemable for cash.</b>
</p>
<p class="MsoNormal"><b>8. The winner will be
    notified by ExtremePC via Facebook Messenger and Email. The winner will need to
    come to ExtremePC Ltd to collect their prize. If a winner cannot be contacted
    within 2 working days, ExtremePC reserves the right to redraw the prize.</b>
</p>
<p class="MsoNormal"><b>9. By entering the
    campaign, the winner agrees to their names being published and to be
    photographed by the Promoter and that the Promoter or promotional partners may
    use their name and photographs and for publicity purposes.</b>
</p>
<p class="MsoNormal"><b>10. By entering this
    campaign you are providing information to ExtremePC Ltd and Facebook.</b>
</p>
<p class="MsoNormal">
    <b>11. The Promoter and its
        associated agencies and companies will not be liable for any loss, expenses,
        damage, personal injury or death suffered by any person in connection with this
        promotion, except any liability which cannot be excluded at law.</b>
</p>
<p class="MsoNormal">
    <b>ROC TECH Ltd T/A Extreme PC
        reserves the right to update this terms and conditions without prior notice.</b>
</p>
<p></p>
<p>
    <br>
</p>